[submodule "pk_project"]
	path = pk_project
	url = https://github.com/BeentageBand/pk_project
[submodule "pks_ipc"]
	path = pks_ipc
	url = https://github.com/BeentageBand/pks_ipc
[submodule "support/pk_gtest_framework"]
	path = support/pk_gtest_framework
	url = https://github.com/BeentageBand/pk_gtest_framework
[submodule "support/pk_object"]
	path = support/pk_object
	url = https://github.com/BeentageBand/pk_object
[submodule "support/pks_template_utils"]
	path = support/pks_template_utils
	url = https://github.com/BeentageBand/pks_template_utils
